em.like{color:blue;}

/*body {
  background-color: red;
}
@media (min-width: 600px){
  body {
    background-color:green;
  }
}
*/
.name {
  color: #4280f4;
}
.one {
  color: #3ad84a;
}
